<div class="card" style="height: 12rem; width: 18rem;">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">
            {{ item.name }} <i class="ra ra-knight-helmet ra-xl" alt='armor'></i></h5>
        <p class="card-text">{{ item.shorten_description() }}</p>
        <div class="row align-bottom mt-auto p-1">
            <div class="col-8">
                <div class="row justify-content-start">
                    <a href="/magic-items/{{item.id}}" class="btn btn-primary">Learn more</a>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-4"><i class="fa-regular fa-star fa-xl"></i></div>
                    <div class="col-4 dropdown">
                        <a href="#" style="color: black;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-plus fa-xl"></i>
                        </a>
                        <ul class="dropdown-menu">

                            {% if not g.user %}
                            <li><span class="dropdown-item disabled">Please login or signup to <br> add this item to a
                                    list</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/signup">Sign up</a></li>
                            <li><a class="dropdown-item" href="/login">Log in</a></li>
                            {% else %}
                            <li><span class="dropdown-item disabled">Add item to which list?</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for list in g.user.lists %}
                            <li>
                                <a class="dropdown-item"
                                    href="/my-lists/{{ list.id }}/add-item/{{item.id}}">{{list.name}}</a>
                            </li>
                            {% endfor %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="/my-lists/add-list">Create a new list!</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>