{% extends 'base.html' %}
{% block content %}
<h1>{{list.name}}</h1>
    <i class="fa-solid fa-share-from-square fa-xl"></i>
    {% if g.user.id == list.user_id %}
        <a href="/lists/{{list.id}}/edit"><i class="fa-solid fa-pen-to-square fa-xl" style="color: black;"></i></a>
        <a href='#' class="fa-solid fa-trash-can fa-xl" data-bs-toggle="modal" style="color: black;" data-bs-target="#deleteListWarningModal"></a>
    {% endif %}
<div class="container p-3">
    <div class="row row-cols-auto">
        {% for item in list.items %}
            <div class="col">{% include 'magic_items/itemcard.html' %}</div>
        {% endfor %}
    </div>
  </div>
<ul>
    {% for list in lists %}
    <li>     
        {% include 'lists/listcard.html' %}
    </li>
    {% endfor %}
</ul>


<!-- Modal -->
<div class="modal fade" id="deleteListWarningModal" tabindex="-1" aria-labelledby="deleteListWarningModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-danger" id="deleteListWarningModalLabel">Delete List</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you really want to delete the {{ list.name }} list permanently?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <form method="POST"
                action="/user/{{g.user.id}}/lists/{{list.id}}/delete">
            <button class="btn btn-outline-danger">Delete {{ list.name }} permanently</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}