attrs
bcrypt
black
blinker
certifi
charset-normalizer
click
dataclasses
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-DebugToolbar
Flask-Modals
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
packaging
parameterized
parametrized
pathspec
platformdirs
pluggy
psycopg2-binary
py
pyparsing
pytest
requests
SQLAlchemy
tomli
typed-ast
typing_extensions
urllib3
Werkzeug
WTForms
zipp
