<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mythodex</title>
  <script src="https://kit.fontawesome.com/420b62d96f.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/css/css/rpg-awesome.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Mythodex">
  <meta name="application-name" content="Mythodex">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {{ modals() }}
</head>

<body>

  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="ra ra-crystal-ball ra-lg p-8" style="color:rgb(202, 245, 245);" alt="mythodex logo"></i>
        <span style="color:rgb(202, 245, 245);">Mythodex</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          {% if not g.user %}
          <li class="nav-item">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Login or Sign Up to manage collections">
              <a class="nav-link disabled" disabled>My collections</a>
            </span>
          </li>
          {% else %}
          <li class="nav-item">
            <a  href="/user/{{ g.user.id }}/collections" class="nav-link">My Collections</a>
          </li>
          {% endif %}
        </ul>

        <ul class="navbar-nav">
          {% if not g.user %}
          <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                class="fa-solid fa-circle-user fa-2x fa-inverse"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {% if not g.user %}
              <li><a class="dropdown-item" href="/signup">Sign up</a></li>
              <li><a class="dropdown-item" href="/login">Log in</a></li>
              {% else %}
              <li><span class="dropdown-item disabled">Hi, {{g.user.username}}!</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/user/{{ g.user.id }}">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/user/{{ g.user.id }}/collections">My collections</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/logout">Log out</a>
              </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='container-fluid p-5'>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
</body>

</html>